/* General styles */
:root {
  font-family: sans-serif, monospace, serif;
}
body {
  margin: 0px;
}

/* Header styles */
#navbar > header > h1 {
  text-align: center;
}
#navbar > ul {
  border: 2px solid #000;
  height: 200px;
  overflow-y: scroll;
  padding: 0px;
}
#navbar > ul > li {
  border-bottom: 1px solid #000;
  padding: 10px 30px;
  list-style: none;
}
#navbar > ul > li > a {
  text-decoration: none;
  color: #000;
}

/* Main Styles */
body > main {
  padding: 20px 0px;
}
.main-section {
  margin: auto 30px;
  line-height: 23px;
}
.main-section > article > * {
  margin: 15px;
}
.main-section > article > ul > li {
  margin: 15px;
}
.main-section > article > pre {
  display: block;
  background-color: #ddd;
  padding: 15px;
  overflow-x: auto;
}

/* Media queries */
@media (min-width: 815px) {
  /* Header styles */
  body > header {
    position: fixed;
    margin: 0px;
    height: 100%;
    border-right: 2px solid #000;
  }
  #navbar > ul {
    border: none;
    overflow-y: unset;
    padding: 0px;
  }
  #navbar > ul > li {
    border-bottom: none;
    border-top: 1px solid #000;
    padding: 10px 30px;
    list-style: none;
  }
  #navbar > ul > li:hover {
    background-color: rgba(255, 160, 122, 0.308);
    transition: background-color 0.5s;
  }

  /* Main Styles */
  body > main {
    margin-left: 280px;
  }
}
